@charset "UTF-8";

/*Font: Bungee*/

@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
    margin: 0px;
    padding: 0px;
    
}

html, body {
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
}

header {
    font-family: "Bungee";
    background-color: #0CBFDE;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 4px solid rgb(0, 0, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-shadow: 3px 3px black;
    font-size: 45px;
}

section#presentation {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Bungee';
    display: contents;
}

section#presentation > div > #paLogo{
    width: 10%;
    padding-top: 50px;
}

input {
    margin-top: 20px;
    font-family: 'Bungee';
    font-size: 10pt;
    border: 2px solid black;
    box-shadow: 2px 2px 0px 0px black;
    border-radius: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px;
}

input#documentation {
    background-color: #0CBFDE;
}

input#webSite {
    background-color: #FEDD59;
}

section#about{
    background-color: #FEDD59;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 900px;
}

section#about > *{
    margin-left: 100px;
    margin-right: 100px;
}

#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 65px;
}

#card {
    font-size: 24px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    text-align: center;
    font-family: 'Bungee';
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 0px 0px black;
    height: max-content;
}

#card > h1 {
    text-align: center;
    background-color: #0CBFDE;
    border-bottom: 3px solid black;
    font-size: 15pt;
    padding: 0;
    border-radius: 8px 8px 0px 0px;
}

#card > p {
    text-align: center;
    background-color: white;
    font: bold 11pt arial;
    flex-grow: 1;
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
}

.custom-list {
    list-style: none;
    padding-left: 20px;
    font-size: 12pt;
    text-align: justify;
    justify-content: center;
    margin: auto;
}

.custom-list li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 10px;
}

.item1::before {
    background-image: url('images/html-5.png');
}

.item2::before {
    background-image: url('images/css-3.png');
}

.item3::before {
    background-image: url('images/js.png');
}

.item4::before {
    background-image: url('images/atom.png');
}

.item5::before {
    background-image: url('images/chakraUi.png');
}

.item6::before {
    background-image: url('images/AOS.png');
    border-radius: 2px;
}


.floatText {
    font-size: 32px;
    line-height: 37px;
    margin: auto;
    border-radius: 10px;
    height: 250px;
    text-align: center;
    font-family: 'Bungee';
    width: 300px;
    display: flex;
    flex-direction: column;
    color: #0CBFDE;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

.floatText#cat1 {
    background-image: url(images/cat1.png);
    background-size: 100%;
}

.floatText#cat2 {
    background-image: url(images/cat2.png);
    background-size: 100%;
    background-position: center;
}

section#technologies {
    height: 450px;
}

footer {
    font: normal 15pt arial;
    background-color: #0CBFDE;
    text-align: center;
    padding: 25px;
    border-radius: 20px 20px 0px 0px;
    border-top: 4px solid rgb(0, 0, 0);
}